<body>
    <div class="">
      <nav class="navbar navbar-expand-lg" >
        <div class="container d-flex align-items-center justify-content-between ">
          <div
            class="collapse navbar-collapse grid text-center"
            id="navbarSupportedContent"
          >
            <div class="logo">
              <a class="navbar-brand" href="#">ĐẠI HỌC KIẾN TRÚC HÀ NỘI</a>
            </div>
  
            <div class="input-group rounded">
              <input
                type="search"
                class="form-control rounded"
                placeholder="Tên, số điện thoại, email hoặc mã hồ sơ thí sinh ...."
                aria-label="Search"
                aria-describedby="search-addon"
              />
              <span class="input-group-text border-0" id="search-addon">
                <lucide-icon name="search"></lucide-icon>
              </span>
            </div>
  
            <div class="add-member text-nowrap">
              <a style="text-decoration: none" href="#">Thêm nhanh thí sinh</a>
            </div>
  
            <div class="profile-admin d-flex align-items-center gap-2">
              <div class="profile-avt">
                <img
                  class="profile-avt-img rounded-circle"
                  src="/assets/img/admin1.jpg"
                  [alt]=""
                />
              </div>
              <div class="name-info-admin text-nowrap">
                <div class="name-admin">
                  <a href="">Nguyet Nguyet</a>
                </div>
                <div class="info-admin">
                  <a href="">nguyetnguyet</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </nav>
      <div class="navbar navbar-expand-lg">
        <div class="navbar-links text-decoration-none">
          <div>
            <ul class="nav-list d-flex align-items-center justify-content-start">
              <li class="nav-item">
                <a
                  class="nav-link"
                  [routerLink]="['/admin/dashboard']"
                  routerLinkActive="router-link-active"
                  >Trang chủ</a
                >
              </li>
              <li class="nav-item">
                <a
                  [routerLink]="['/admin/ky-tuyen-sinh']"
                  routerLinkActive="router-link-active"
                  class="nav-link"
                  >Các kì tuyển sinh</a
                >
              </li>
              <li class="nav-item">
                <a
                  [routerLink]="['/admin/ho-so-hoc-vien/']"
                  routerLinkActive="router-link-active"
                  class="nav-link"
                  >Hồ sơ học viên</a
                >
              </li>
              <li class="nav-item">
                <a
                  [routerLink]="['/admin/de-tai-nghien-cuu']"
                  routerLinkActive="router-link-active"
                  class="nav-link"
                  >Đề tài nghiên cứu</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  
    <div class="main">
        <router-outlet></router-outlet>
    </div>
  </body>
  